@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');

:root{
    /*background-color */

    --body-background:hsl(222, 26%, 31%);
    --display-background:hsl(224, 36%, 15%);
    --input-background:hsl(223, 31%, 20%);

    /* keys */
    --number-background:hsl(30, 25%, 89%);
    --number-shadow:hsl(28, 16%, 65%);

    --key-shadow:0 .35rem;

    --delete-background:hsl(225, 21%, 49%);
    --delete-shadow:hsl(224, 28%, 35%);

    --submit-background:hsl(6, 63%, 50%);
    --submit-shadow:hsl(6, 70%, 34%);

    /* text */
    --keys: hsl(221, 14%, 31%);
    --plain:hsl(0, 0%, 100%);
    --white:hsl(0,0%,100%);
}

*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    font-family: "Spartan", sans-serif;
}

body{
    background-color: var(--body-background);
    padding: 2rem 1.5rem;
    font-weight: 700;
}

.container{
    max-width: 470px;
    margin: auto;
    margin-block-start: 2rem;
    transition: all .35s ease-in;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.logo{
    font-size: 2rem;
    color: var(--plain);
    /* color: white; */
}

.theme-changer{
    display: flex;
    align-items: flex-end;
    /* justify-content: space-around; */
    gap: 2rem;
}

.theme-selection{
    color: var(--plain);
    text-transform: uppercase;
    font-weight: 400;
    font-size: .8rem;
    /* color: white; */
}

.radio-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .3rem;
}

.radio-indicator{
    display: flex;
    gap: .95rem;
    color: var(--plain);
    font-weight: 400;
    font-size: .7rem;
}

.radios{
    display: flex;
    gap: .65rem;
    background-color: var(--input-background);
    border-radius: 2rem;
    padding: .3rem .5rem;
}

input[type="radio"]{
    appearance:none;
    outline: none;
    -webkit-appearance: none;
    height: .8rem;
    width: .8rem;
    border-radius: 50%;
    cursor: pointer;
}

input[type="radio"]:checked{
    background-color: var(--submit-background);
}

main{
    margin-block-start: 2.5rem;
    font-size: 2rem;
}

.calc-display{
    background-color: var(--display-background);
    height: 5.5rem;
    padding: 1.8rem 1.4rem;
    border-radius: .5rem;
    text-align: right;
    color: var(--plain);
}

.calc-input{
    background-color: var(--input-background);
    margin-block-start: 2rem;
    border-radius: .5rem;
    padding: 1.5rem 1.3rem;
}

.calc-digits{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.2rem;
    padding-block: .5rem;
}

.calc-digits > * {
    flex-basis: 20%;
}

.input{
    background-color: var(--number-background);
    box-shadow: var(--key-shadow) var(--number-shadow);
    text-align: center;
    border-radius: .38rem;
    padding: .8rem .3rem;
    color: var(--keys);
    cursor: pointer;
}

.input::selection{
    color: var(--keys);
}

@media only screen and (min-width:768px){
    .input{
        padding: .5rem .3rem;
    }
}

.calc-function{
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    width: 95%;
    margin: auto;
    margin-block-start: 1.2rem;
}

.calc-function > *{
    width: 100%;
}

.del,
.reset{
    background-color: var(--delete-background);
    color: var(--white);
    text-transform: uppercase;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--key-shadow) var(--delete-shadow);
}

button{
    outline: none;
    border: none;
    font-weight: 700;
}

.solve{
    background-color:var(--submit-background) ;
    box-shadow: var(--key-shadow) var(--submit-shadow);
    color: var(--white);
    font-size: 2rem;
}

.theme1{
    /* theme2 */
    /* theme2 background-color */

    --input-background:hsl(0, 0%, 90%);
    --display-background:hsl(0, 0%, 93%);
    --body-background:hsl(0, 5%, 81%);

    /* keys */
    --number-background:hsl(45, 7%, 89%);
    --number-shadow:hsl(35, 11%, 61%);

    /* --key-shadow:0 .3rem; */

    --delete-background:hsl(25, 98%, 40%);
    --delete-shadow:hsl(25, 99%, 27%);

    --submit-background:hsl(185, 42%, 37%);
    --submit-shadow:hsl(185, 58%, 25%);

    /* text */
    --keys: hsl(60, 10%, 19%);
    --plain:var(--keys);
}

.theme2{
    /* theme3 */
    /* theme3 background-color */

    --body-background:hsl(268, 71%, 12%);
    --display-background:hsl(268, 75%, 9%);

    /* keys */
    --number-background:hsl(268, 47%, 21%);
    --number-shadow:hsl(290, 70%, 36%);

    /* --key-shadow:0 .3rem .6rem .8rem; */

    --delete-background:hsl(176, 100%, 44%);
    --delete-shadow:hsl(177, 92%, 70%);

    --submit-background:hsl(281, 89%, 26%);
    --submit-shadow:hsl(285, 91%, 52%);

    /* text */
    --keys: hsl(52, 100%, 62%);
    --dark-blue: hsl(198, 20%, 13%);
    --plain:var(--keys)
}